<!DOCTYPE html>
<html>
    <head>
        <title>Publishers</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    </head>

    <body>
        <a name="top"></a>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Book Binder</h1>
          </div>
        </div>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('books')}}">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('publishers')}}">Publishers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>
        </ul>

        <!-- ****************** start of content **************************  -->
        {% if publisher == []%}
              <p> No publishers exist </p>
        {% else %}
               {%for i in publisher %}
               <div class = "cards">
                     <div class ="card-header" style="background-color:rgba(0, 0, 0, .1);">
                       <a id = {{i.name}} href="{{url_for('apublisher', name = i.name)}}"> {{i.name}}</a>

                     </div>
               </div>
               <div class = "jumbotron"  style="background-color:rgba(62, 69, 81, 0.1);">
       <br/>

        </div>

        <div class = "jumbotron"  style="background-color:rgba(62, 69, 81, 0.1);">

              <div class = "row">
                  <div class="col-sm-4"> <img src="{{i.image_url}}" alt = {{i.name}}> </div>
                  <div class="col-sm-8" style="background-color:rgba(0, 0, 0, .005);">
                                Description: {{i.description}} <br/>
                                Owner : {{i.owner}} <br/>
                                {% if i.website != "Not in Database"%}
                                  {% if i.website == "http://Official website"%}
                                    Website: <a href="https://www.lulu.com/">{{i.website}}</a><br/>
                                  {% elif i.website == "http://Bloomsbury"%}
                                    Website: <a href="https://www.bloomsbury.com/us/">{{i.website}}</a><br/>
                                  {% else %}
                                    Website: <a href={{i.website}}>{{i.website}}</a><br/>
                                    {% endif %}
                                {% else %}
                                  Website: {{i.website}}<br/>
                                  {% endif %}
                                {% if i.wikipedia_url != "Not in Database"%}
                                  Wikipedia url: <a href={{i.wikipedia_url}}>{{i.wikipedia_url}}</a><br/>
                                {% else %}
                                  Wikipedia url: {{i.wikipedia_url}}<br/>
                                  {% endif %}

                  </div>
              </div>
            </div>
            <!-- ****************** hyperlinks for books  **************************  -->
            <div>
              <div class = "jumbotron"  style="background-color:rgba(62, 69, 81, 0.1);">
                Books:
                {% set book_item =  i.books.strip() %}
                <a href="{{url_for('abook', title = book_item)}}"> {{book_item}} </a>

              </div>
            </div>
            <!-- ********************************************************************* -->

                {% endfor %}
          {% endif %}

        <br/>



        
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
