<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='./css/stylesheet.css')}}">
    </head>

    <body>
        <a name="top"></a>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Book Binder</h1>
          </div>
        </div>
        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('books')}}">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>
        </ul>

<div class="dropdown">
  <button class="btn btn-primart dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sort by:
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{url_for('books', sort = 2)}}">Name ascending</a>
    <a class="dropdown-item" href="{{url_for('books', sort = 3)}}">Name descending</a>
  </div>
</div>
<style type="text/css">

</style>
<div class="col px-md-5">
  <div class="card-deck">


  {% if book == [] %}
    <p>No books exist</p>
  {% else %}
    {% for i in book.items %}
        <div class="col-sm-3">
          <div class="card">
            <div class="card-header">
              <a id = {{i.title}} href="{{url_for('abook', title = i.title)}}"> {{i.title}}</a>
            </div>
            <img src="{{i.image_url}}" class="my-card-img-top" alt="...Picture Placeholder...">
            <div class="card-body">
            <h5 class="card-text">
              Author:
              <a href="{{url_for('anauthor', name = i.author)}}"> {{i.author}}</a> <br/>
            </h5>

              <p class="card-text">{{i.description}}</p>

            </div>
            <ul class="list-group list-group-flush">
            <li class="list-group-item">Published by
              <a  href="{{url_for('apublisher', name = i.publisher)}}"> {{i.publisher}}</a>
               in {{i.publication_date}}
            </li>

              <li class="list-group-item">ISBN: {{i.isbn}}</li>
            </ul>
          </div>
        </div>

    {% endfor %}
  {% endif %}

  </div>
</div>
<br/>


<!-- ******************* pagination ******************* -->
<div class="pagination justify-content-center">
{% for page_num in book.iter_pages(left_edge=1, right_edge=1,left_current=1, right_current=3) %}
    {% if page_num %}
      {% if book.page == page_num %}
        <a class ='active' href="{{url_for('books', page=page_num, sort = sort)}}">{{ page_num }} </a>
      {% else %}
        <a href="{{url_for('books', page=page_num, sort = sort)}}">{{ page_num }} </a>
      {% endif %}
    {% else %}
        ..
    {% endif %}
{% endfor %}
</div>



  <br/>

        <div class="container">
          <button class="btn btn-primary" id="myBtn"><a href="#top" style="color: white">Back to top</a></button>
        </div>

        <br>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
