<!DOCTYPE html>
<html>
    <head>
        <title>Homepage</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/stylesheet.css')}}">
    </head>

    <body>
        <a name="top"></a>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Book Binder</h1>
          </div>
        </div>


        <ul class="nav nav-pills nav-justified">
          <li class="nav-item">
            <a class="nav-link active" href="{{url_for('index')}}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('books')}}">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('authors')}}">Authors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('publishers')}}">Publishers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>
        </ul>


        <div class="col px-md-5">
          <div class="card-deck">
            <div class="card">
              <div class="card-header">
                <strong>Welcome to Book Binder!</strong>
              </div>
              <div class="card-body">
                <p class="card-text">Book Binder contains all the information you will ever need on many books ranging from hot, new releases to the classics everyone knows and loves. </p>
              </div>
            </div>
          </div>
        </div>
        <br/>

        <div class="col px-md-5">
          <div class="card-deck">
            <div class="card">
              <div class="card-header">
                <strong>Step #1.</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">Find a book!</h5>
              </div>
              <img src="../static/images/glass.PNG" class="card-img-top" alt="glass">
              <div>
                  <h6 id="citations">Magnifying Glass. Digital image. VectorStock.com</h6>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <strong>Step #2.</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">Learn about publishers and authors!</h5>
              </div>
              <img src="../static/images/bulb.PNG" class="card-img-top" alt="bulb">
              <div>
                  <h6 id="citations">Light Bulb. Digital image. VectorStock.com</h6>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <strong>Step #3.</strong>
              </div>
              <div class="card-body">
                <h5 class="card-title">Discover more books!</h5>
              </div>
              <img src="../static/images/book.PNG" class="card-img-top" alt="book">
              <br/>
              <div>
                <h6 id="citations">Book. Digital image. VectorStock.com</h6>
              </div>
              <br/>
            </div>
          </div>
        </div>
        <br/>


        <div class="container">
          <button class="btn btn-primary" id="myBtn"><a href="#top" style="color: white">Back to top</a></button>
        </div>

        <br>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
